<% if @property.errors.any? %>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <%= pluralize(@property.errors.count, "error") %>
                        prevented this property from being saved.
                        <div class="panel-body">
                            <ul>
                                <% @property.errors.full_messages.each do|msg| %>
                                <li><%= msg%></li>
                                <% end %>
                            </ul>
                        </div>
                    </h2>
                </div>
            </div>
        </div>
    </div>
<% end %>

<div class="row">
    <div class="col-xs-12">
        <%= form_for(@property, :html => {class: "form-horizontal", role: "form"}) do |f| %>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :property_name %>
                </div>
                <div class="col-sm-8">
                    <%= f.text_field :property_name, class: "form-control", placeholder: "Property name", autofocus: true %> 
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :description %>
                </div>
                <div class="col-sm-8">
                    <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Description of the property", autofocus: true %> 
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :value %>
                </div>
                <div class="col-sm-8">
                    <%= f.number_field :value, class: "form-control", placeholder: "Value", autofocus: true %> 
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <%= f.submit class: "btn btn-primary btn-lg" %> 
                </div>
            </div>
        <% end %>
    </div>
</div>