<h1>List of properties</h1>
<p><%= link_to "Create new property" , new_property_path %></p>
<table>
    <tr>
        <th>Property Name</th>
        <th>&nbsp;&nbsp;</th>
        <th>Description</th>
        <th>&nbsp;&nbsp;</th>
        <th>&nbsp;&nbsp;</th>
        <th>&nbsp;&nbsp;</th>
        <th>&nbsp;&nbsp;</th>
    </tr>    
    <% @properties.each do |property| %>
    <tr>
        <td><%= property.property_name %></td>
        <td>&nbsp;&nbsp;</td>
        <td><%= property.description %></td>
        <td>&nbsp;&nbsp;</td>
        <td><%= link_to "Show", property_path(property.id), method: :get %>&nbsp;</td>
        <td><%= link_to "Edit", edit_property_path(property.id) %>&nbsp;</td>
        <td><%= link_to "Destroy", property_path(property.id), method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
    <% end %>
</table>