<%# views/properties/show.html.erb %>

<h2 align="center">Property name: <%= @property.property_name %></h2>
<div class="well col-xs-8 col-xs-offset-2">
    <% if @property.user %>
    <ul class="listing">
        <div class="row center">
            <div class="col-md-4 col-md-offset-4">
                <li>Created by:</li>
                <li>
                    <%= link_to gravatar_for(@property.user), user_path(@property.user) %>
                </li>
                <li class="property-title">
                    <%= link_to @property.user.username, user_path(@property.user) %>
                </li>
                <li>
                    <small> <%= pluralize(@property.user.properties.count, "property") if @property.user.properties %></small>
                </li>
            </div>
        </div>
    </ul>
    <% end %>
    <h4 class="center description">Description:</h4>
    <hr>
    <%= simple_format(@property.description) %>
    <% if !@property.reports.empty? %>
        <hr>
        <h4 class="uploaded-file">Report:</h4>
        <hr>
        <% @property.reports.each do |report| %>
                <%= link_to report.filename , [report.property, report] , method: :get %>
                <% end %>
                
    
    <% end %>
    <div class="property-actions">
        <% if (logged_in? && (current_user == @property.user) || current_user.admin?) %>
        <%= link_to "Edit this article", edit_property_path(@property.id), class: "btn btn-xs btn-primary" %> 
        <%= link_to "Delete this article", properties_path(@property), method: :delete, 
                                                            data: {confirm: "Are you sure you want to delete this?"}, 
                                                            class: "btn btn-xs btn-danger"  %>
        <% end %>
        <%= link_to "View all", properties_path, class: "btn btn-xs btn-success"  %>

    </div>
</div>