<%# views/reports/_report.html.erb %>

<hr>
<h4 class="uploaded-file center">Reports</h4>
<hr>
<div class="row center">
    <div class="col-md-4 col-md-offset-1">
        <strong>File title</strong>
    </div>
    <div class="col-md-3">
        <strong>Last update</strong>
    </div>
        <div class="col-md-3">
        <strong>Actions</strong>
    </div>
</div>
</br>
<% #@property.reports.each do |report| %>
<% obj.reports.each do |report| %>
    <div class="row">
        <div class="col-md-4 col-md-offset-1 report-title">
            <%= link_to truncate(report.filename, length: 25) , [report.property, report] , method: :get, 
                                                                title: report.filename%>
        </div>
        <div class="col-md-3">
            <small><%= report.updated_at %></small>
        </div>
        <% if logged_in? && ((current_user == @property.user) || current_user.admin?) %>
            <div class="col-md-1">
                <%= link_to "View" , [report.property, report] , method: :get %>
            </div>
            <div class="col-md-1">
                <%= link_to "Update", edit_property_report_path(report.property, report), method: :get %>
            </div>
            <div class="col-md-1">
                <%= link_to "Delete" , [report.property, report] , method: :delete, 
                                                        data: {confirm: "Are you sure you want to delete this?"} %>
            </div>
        <% end %>
    </div>
<% end %>
</br>
  